<script type="module">
    import {efet} from "../htmlefet.js" // if you dont use a bundler, you can replace with https://cdn.jsdelivr.net/npm/htmlefet/htmlefet.js

    window.state = {
        name: "Inigo Montoystory",
        color: "red",

        age: 3,
        clicks: 1,

        placeholder: "this is hint",
        hidden: true,

        amAlive: true
    };

    window.innerState = {
        deathColor: "blue"
    };

    // Using htmlefet to bind state object to an html template
    let boundElement = eval(efet())(state, () => `
        <div>
            My name is <span style="color: ${state.color}">
                ${state.name}
            </span>

            <div>my age will be ${state.age + 1} some day</div>

            <button onclick="${() => state.clicks += 1}">
                click me baby ${state.clicks} more time
            </button>

            <style>
             #thing {
                color: ${state.color};
             }
            </style>
            <div id="thing">colorful things</div>

            <input placeholder=${state.placeholder}/>
            <div ${state.hidden ? "hidden" : ""}>hidden</div>

            <div>
                ${state.amAlive ? "yes" : eval(efet())(innerState, () => `
                    <span style="color: ${innerState.deathColor}; font-size: ${innerState.deathColor === "blue" ? "40px" : "13px"};">NO</span>`)}
            </div>


        </div>
    `);

    // boundElement is a true html element
    document.body.appendChild(boundElement);

    // modifying the state
    state.name = "John Cena!!!";
    setInterval(() => state.color = state.color === "blue" ? "red" : "blue", 300);
</script>