<script type="module">
    import {efet} from "../htmlefet.js"

    window.state = {
        friends: [{
            name: "dave",
            isNice: true
        }, {
            name: "Mojojojo",
            isNice: false
        }, {
            name: "harambe",
            isNice: true
        }]
    };

    let boundElement = eval(efet())(state, () => `
<div>
    ${state.friends.map(friend => eval(efet())(friend, () => `
        <div style="color: ${friend.isNice ? "green" : "red"};">
            ${friend.name}
        </div>
    `))}
</div>
`);

    document.body.appendChild(boundElement);

    state.friends[0].isNice = false; // Boom
</script>